@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
body{
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
    font-family: 'Sour Gummy', sans-serif;
  }
.prices{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top div{
    margin: 0 10px;
    text-align: center;
}
.big{
    font-size: 1.50em;

    padding: 0.25rem;
    border-radius: 1rem;
}
#electricity_prices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    height:765px;
    margin: 0 auto;
}
#electricity_prices div{
    margin: 0.5rem 3.2rem;
    text-align: center;
    font-size: 1.2em;
    border-radius: 1rem;
    padding: 0.40rem;
}
.low{
    background-color: rgb(123, 245, 123);
    
}
.medium{
    background-color: rgb(255, 205, 112);
}
.high{
    background-color: #ff5757;
    color:white;
}
.highest_underline{
    border-bottom: 5px solid rgba(190, 0, 0, 0.741);
}
.high_underline{
    border-bottom: 5px solid rgb(253, 127, 127);
}
.low_underline{
    border-bottom: 5px solid rgb(123, 245, 123);
}
.lowest_underline{
    border-bottom: 5px solid rgb(0, 210, 0);
}
.below_month_average{
    border:rgb(0, 210, 0) 3.5px dashed;
}
.above_month_average{
    border:rgb(202, 0, 0) 3.5px dashed;
}
.danger{
    border: 3.5px solid black;
}
.legend{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0.5rem 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.5) translate(80px,0);
}
.legend-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}
.legend-item div{
    padding: 0.2rem;
}
.border_radius{
    border-radius: 1rem;
}
@media print {
    head{display:none;}
    .noPrint,br{
        display:none;
    }
    .legend{
        display:flex;
    }
}